<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <title>Edit Employer</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Edit Employer</h1>
    <form th:action="@{/employers/edit}" th:object="${employer}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="col-6 mb-3">
            <label class="form-label" for="employerName">Employer Name:</label>
            <input class="form-control" type="text" th:field="*{employer_name}"
                   id="employerName">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" type="text" th:field="*{email}" id="email">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="sdt">Phone:</label>
            <input class="form-control" type="text" th:field="*{sdt}" id="sdt">
        </div>
        <div class="col-6 mb-3"><label class="form-label" for="diaChi">Address:</label>
            <input class="form-control" type="text" th:field="*{diaChi}" id="diaChi">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="ngaySinh">Date of Birth:</label>
            <input class="form-control" type="date" th:field="*{ngaySinh}" id="ngaySinh">
        </div>
        <input type="submit" value="Save">
    </form>
    <br>
    <a th:href="@{/employers}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>